:root {
  --white: #fff;
  --black: #000;
  --primary-color: #e40000;
  --gray: #202020;
  --light-gray: #BFC0C1;
}

input:hover, input:focus,
button:hover,
button:focus,
a:hover,
a:focus {
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

footer .footer {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

footer .footer_top {
  padding: 16px 24px;
}

footer .footer_top_item {
  font-size: 12px;
  line-height: 14px;
  color: rgba(62, 65, 70, 0.7);
}

footer .footer_top_item:not(:first-child) {
  margin-top: 8px;
}

footer .footer_main {
  background-color: #ECEDFF;
  padding: 32px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 766px) {
  footer .footer_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 24px;
  }
}

footer .footer_main_item {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #292C31;
  max-width: 220px;
  cursor: pointer;
}

footer .footer_main_item:first-child {
  display: block;
}

@media (max-width: 766px) {
  footer .footer_main_item:first-child {
    display: none;
  }
}

footer .footer_main_item:first-child::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 1px;
  border-bottom: 2px solid #292C31;
  border-right: 2px solid #292C31;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -2px;
  position: relative;
  margin-left: 8px;
}

@media (max-width: 766px) {
  footer .footer_main_item {
    line-height: 20px;
  }
}

footer .footer_main_item:not(:last-child) {
  margin-right: 44px;
}

@media (max-width: 766px) {
  footer .footer_main_item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 22px;
  }
}

footer .footer_foot {
  background-color: #D2D5F6;
  padding: 16px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 766px) {
  footer .footer_foot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

footer .footer_foot_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_foot_left .img:not(:first-child) {
  margin-left: 20px;
}

@media (max-width: 766px) {
  footer .footer_foot_left .img:not(:first-child) {
    margin-left: 18px;
  }
}

footer .footer_foot_right {
  margin-left: auto;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #292C31;
}

@media (max-width: 766px) {
  footer .footer_foot_right {
    margin-left: unset;
    margin-top: 8px;
  }
}

img {
  max-width: 100%;
}

body {
  font-family: "Tondo Corp";
  color: var(--black);
  overflow-x: hidden;
}

body.modal-open {
  overflow: hidden;
}

figure {
  margin: 0;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

@media (max-width: 766px) {
  .container {
    padding: 0 24px;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

header .sub_header {
  background-color: var(--gray);
}

header .sub_header .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .sub_header .menu_list li:not(:last-child) {
  margin-right: 64px;
}

header .sub_header .menu_list li a {
  display: inline-block;
  padding: 16px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
}

header .sub_header .menu_list li.active a, header .sub_header .menu_list li:hover a {
  color: white;
}

header .sub_header .menu_list li.active a {
  pointer-events: none;
}

.head_sectoin {
  background-color: var(--black);
  height: calc(100vh - 48px);
  overflow: hidden;
}

.head_sectoin .startup_content {
  height: inherit;
}

.head_sectoin .startup_content .container {
  height: inherit;
}

.head_sectoin .startup_content .container .inside_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  padding-top: 34px;
}

@media (min-width: 767px) {
  .head_sectoin .startup_content .container .inside_area {
    padding-top: 80px;
    text-align: center;
  }
}

.head_sectoin .startup_content h4 {
  margin: 0;
  color: var(--white);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -2px;
}

@media (min-width: 767px) {
  .head_sectoin .startup_content h4 {
    font-size: 56px;
    line-height: 1;
  }
}

.head_sectoin .startup_content h4 span {
  color: var(--primary-color);
}

.media_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (min-width: 767px) {
  .media_right {
    width: 50%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.media_right .phone_pic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 auto;
  position: relative;
  max-height: 555px;
}

.media_right .phone_pic .screen_frame {
  position: relative;
}

.media_right .phone_pic .inside_screen {
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 0;
  width: calc(100% - 20px);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.download_compare {
  margin-top: 24px;
}

.download_compare .spectra_name {
  min-width: 24px;
  max-width: 24px;
  margin-right: 12px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}

.download_compare .load_time {
  min-width: 52px;
  max-width: 52px;
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
}

.download_compare .load_time sup {
  color: rgba(255, 255, 255, 0.67);
  font-weight: 400;
  font-size: 12px;
  font-weight: 400;
}

.download_compare .progress_bar {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 6px;
  border-radius: 6px;
  background: #3e4146;
  margin-right: 12px;
  position: relative;
}

.download_compare .loader {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: inherit;
}

.download_compare .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.download_compare .progress_5g .loader {
  width: 70%;
  background: -webkit-gradient(linear, left top, left bottom, from(#67b044), to(#daef84));
  background: linear-gradient(180deg, #67b044 0%, #daef84 100%);
}

.download_compare .progress_4g .loader {
  width: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--light-gray);
}

.download_compare .progress_4g .load_time,
.download_compare .progress_4g .spectra_name {
  color: var(--light-gray);
}

.download_section {
  background-color: var(--black);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download_section > div {
  height: inherit;
}

@media (min-width: 767px) {
  .download_section .inside_controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

.download_section .content_left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
}

@media (min-width: 767px) {
  .download_section .content_left {
    width: 50%;
  }
}

.download_section .content_left .content_area {
  max-width: 320px;
  width: 100%;
}

.download_section .content_left .content_area .icon img {
  max-width: 32px;
}

.download_section .content_left .content_area h4 {
  color: var(--white);
  font-weight: 400;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -2px;
  margin: 10px 0 0;
}

@media (min-width: 767px) {
  .download_section .content_left .content_area h4 {
    font-size: 56px;
    line-height: 1;
    margin: 16px 0 0;
  }
}

.download_section .content_left .content_area h4 span {
  color: #b9d4f9;
  display: block;
}

.download_section .content_left .content_area .info_text {
  color: var(--light-gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 0.75;
  margin: 24px 0 0;
}

.video_section {
  background-color: var(--black);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video_section > div {
  height: inherit;
}

@media (min-width: 767px) {
  .video_section .inside_controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

.video_section .content_left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
}

@media (min-width: 767px) {
  .video_section .content_left {
    width: 50%;
  }
}

.video_section .content_left .content_area {
  max-width: 320px;
  width: 100%;
}

.video_section .content_left .content_area .icon img {
  max-width: 32px;
}

.video_section .content_left .content_area h4 {
  color: var(--white);
  font-weight: 400;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -2px;
  margin: 10px 0 0;
}

@media (min-width: 767px) {
  .video_section .content_left .content_area h4 {
    font-size: 56px;
    line-height: 1;
    margin: 16px 0 0;
  }
}

.video_section .content_left .content_area h4 span {
  color: #fcd7b0;
  display: block;
}

.video_section .content_left .content_area .info_text {
  color: var(--light-gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 0.75;
  margin: 24px 0 0;
}

.video_section .content_left .content_area p {
  color: #797979;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  margin: 24px 0 0;
}

.experience_section {
  background-color: var(--black);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience_section > div {
  height: inherit;
}

@media (min-width: 767px) {
  .experience_section .inside_controller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}

.experience_section .inside_controller .content_left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 0;
}

@media (min-width: 767px) {
  .experience_section .inside_controller .content_left {
    width: 50%;
  }
}

.experience_section .inside_controller .content_left .content_area {
  max-width: 350px;
  width: 100%;
}

.experience_section .inside_controller .content_left .content_area .icon img {
  max-width: 32px;
}

.experience_section .inside_controller .content_left .content_area h4 {
  color: var(--white);
  font-weight: 400;
  font-size: 48px;
  line-height: 0.9;
  letter-spacing: -2px;
  margin: 10px 0 0;
}

@media (min-width: 767px) {
  .experience_section .inside_controller .content_left .content_area h4 {
    font-size: 56px;
    line-height: 1;
    margin: 16px 0 0;
  }
}

.experience_section .inside_controller .content_left .content_area h4 span {
  color: #f8616c;
  display: block;
}

.experience_section .inside_controller .content_left .content_area .info_text {
  color: var(--light-gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 0.75;
  margin: 24px 0 0;
}

.experience_section .inside_controller .content_left .content_area p {
  color: #797979;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  margin: 24px 0 0;
}

.benefit_section .loding_screen {
  background: url(../img/svg/Bg_text_layer.svg) 100% center no-repeat;
}

.benefit_section .loding_screen .lodiing_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.benefit_section .loding_screen .lodiing_area .title {
  font-weight: 400;
  font-size: 56px;
  line-height: 1;
  color: var(--black);
  letter-spacing: -2px;
}

.benefit_section .loding_screen .lodiing_area .load_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 90px 0 0;
}

.benefit_section .loding_screen .lodiing_area .load_items li:not(:last-child) {
  margin-right: 100px;
}

.benefit_section .sim_screen .lodiing_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.benefit_section .sim_screen .lodiing_area .title {
  font-weight: 400;
  font-size: 56px;
  line-height: 1.25;
  color: var(--black);
  letter-spacing: -2px;
}

.benefit_section .sim_screen .lodiing_area .title span {
  color: #B20101;
}

.benefit_section .sim_screen .lodiing_area .sim_exchange {
  margin: 70px 0 0;
}

.benefit_section .sim_exchanged_screen .lodiing_area {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.enabled_5g_section {
  background-color: var(--black);
  padding: 40px 0;
}

@media (min-width: 767px) {
  .enabled_5g_section {
    padding: 80px 0;
  }
}

.enabled_5g_section h3 {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
  color: var(--white);
  margin: 0;
}

@media (min-width: 767px) {
  .enabled_5g_section h3 {
    font-size: 56px;
    text-align: center;
  }
}

@media (min-width: 767px) {
  .enabled_5g_section .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -21px;
  }
  .enabled_5g_section .row .right_col, .enabled_5g_section .row .left_col {
    padding: 0 21px;
    width: calc(100% / 2);
    margin-top: 50px;
  }
}

@media (max-width: 766px) {
  .enabled_5g_section .row .right_col, .enabled_5g_section .row .left_col {
    margin: 32px 0;
  }
}

.enabled_5g_section .card {
  border-radius: 20px;
  padding: 48px;
  background-color: var(--white);
  height: 100%;
  position: relative;
  overflow: hidden;
}

.enabled_5g_section .card::before {
  content: '';
  background: rgba(20, 20, 20, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.enabled_5g_section .card .card_content {
  position: relative;
}

.enabled_5g_section .card .graphics {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 65%;
}

.enabled_5g_section .card .graphics img {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enabled_5g_section .card h5 {
  margin: 0;
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  letter-spacing: -2px;
  color: var(--white);
}

.enabled_5g_section .card p {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.34;
  color: var(--white);
  margin: 10px 0 0;
}

.enabled_5g_section .card .qrcode {
  margin-top: 36px;
}

.enabled_5g_section .card_app {
  background: linear-gradient(285.49deg, #F43640 3.87%, #FE9CA9 97.47%);
}

.enabled_5g_section .card_app .graphics {
  max-width: 46%;
}

.enabled_5g_section .card_5gZone {
  background: linear-gradient(122.62deg, #b3b3b3 3.65%, #575757 95.86%);
}

.enabled_5g_section .card .action_button {
  margin-top: 35px;
}

.enabled_5g_section .card .action_button a {
  background-color: var(--white);
  padding: 20px 15px;
  color: var(--black);
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase;
}

.faq_section {
  background-color: var(--black);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 80px 0 52px;
}

.faq_section .inside_faq_area h4 {
  font-weight: 400;
  font-size: 56px;
  line-height: 1.2;
  color: var(--white);
  margin: 0;
  text-align: center;
  letter-spacing: -2px;
}

/* near card */
.near_option_card {
  margin-top: 42px;
  border: 1px solid #E3E5FF;
  border-radius: 16px;
  padding: 24px;
}

.near_option_card .inside_wrapper {
  max-width: 822px;
  margin: 0 auto;
  width: 100%;
}

.near_option_card .card_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #696B6F;
  text-align: center;
}

.near_option_card .zone_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 767px) {
  .near_option_card .zone_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px -12px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.near_option_card .zone_list li {
  margin: 12px 0;
}

@media (min-width: 767px) {
  .near_option_card .zone_list li {
    width: calc(100% / 3);
    margin: 24px 0;
  }
}

.near_option_card .zone_list li .inside_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.near_option_card .zone_list li .inside_list .icon {
  min-width: 20px;
  max-width: 20px;
  margin-right: 18px;
  margin-top: 8px;
}

.near_option_card .zone_list li .inside_list .icon img {
  max-width: 100%;
}

.near_option_card .zone_list li .inside_list h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #292C31;
  margin: 0;
}

.near_option_card .zone_list li .inside_list .near_destination {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #3E4146;
  margin: 10px 0 0;
}

.near_option_card .zone_list li .inside_list a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #027BFC;
  margin: 10px 0 0;
  display: inline-block;
}

/* end near card */
/* modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
}

.modal .modal_body {
  position: absolute;
  top: auto;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: var(--white);
  padding: 1rem 1.5rem;
  width: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.modal .modal_body .container {
  position: relative;
}

.modal .modal_body .close_button {
  position: absolute;
  top: 20px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal .modal_body .close_button:after, .modal .modal_body .close_button:before {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--black);
  position: absolute;
  top: 14px;
}

.modal .modal_body .close_button:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .modal_body .close_button:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .modal_body .modal_head {
  padding: 30px 0 0;
  text-align: center;
}

.modal .modal_body .modal_head h1 {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
}

.modal .modal_body .modal_head p {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.7;
  color: #797979;
  margin: 30px 0 0;
}

.modal.show_modal {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, -webkit-transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s, -webkit-transform 0.25s;
  z-index: 99;
}

.modal.show_modal .modal_body {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal .badge_items {
  margin-top: 4px;
}

.modal .badge_items li {
  display: inline-block;
  margin: 8px;
}

.modal .badge_items li a {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.32;
  color: #292C31;
  background-color: #E3E5FF;
}

/* accordion */
.details_group {
  margin-top: 50px;
}

.details_group .button_area {
  margin-top: 20px;
}

.details_group .button_area a {
  background-color: var(--white);
  padding: 20px 30px;
  color: var(--black);
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  border-radius: 4px;
  display: inline-block;
  text-transform: uppercase;
}

.details_group .details {
  overflow: hidden;
  -webkit-transition: height 300ms ease-in-out;
  transition: height 300ms ease-in-out;
  border-top: 1px solid #3E4146;
}

.details_group .details:last-child {
  border-top: 1px solid #3E4146;
}

.details_group .details__summary, .details_group .details__content {
  padding: 24px 0;
  color: var(--white);
}

.details_group .details__summary {
  position: relative;
  list-style: none;
  outline: 0;
  cursor: pointer;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.24;
  color: var(--white);
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  padding-right: 40px;
}

.details_group .details__summary::-webkit-details-marker {
  display: none;
}

.details_group .details__summary:before, .details_group .details__summary:after {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
}

.details_group .details__summary:before {
  right: 0;
  top: 50%;
  height: 1px;
  width: 24px;
}

.details_group .details__summary:after {
  right: 11px;
  top: calc(50% - 11px);
  height: 24px;
  width: 1px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.details_group .details__content {
  padding-top: 0;
}

.details_group .details__content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.24;
  color: var(--light-gray);
  margin: 0;
}

.details_group [open~="true"] .details__summary:after {
  opacity: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
}

/* end accordion */
/*# sourceMappingURL=style.css.map */